:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bgd-color: #e5e5e5;
  --secondary-bgd-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

.body {
  background-color: var(--primary-bgd-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

.header {
  background-color: var(--secondary-bgd-color);
  border-bottom: 1px solid #ececec;
  /* outline: 2px solid tomato; */
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.studio {
  color: var(--primary-text-color);
}

.nav-container {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Site nav */

.site-nav {
  display: flex;
  /* outline: 1px solid black; */
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.link {
  display: block;
  position: relative;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-container {
  display: flex;
  margin-left: auto;
}

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts-list {
  min-width: 130px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.link-mail {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.link-tel {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-left: 50px;
}

.icon-mail {
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-tel {
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  fill: currentColor;
}

/* .link-mail::before {
  content: "";
  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
  background-size: contain;
  background-repeat: no-repeat;
} */

/* .link-tel::before {
  content: "";
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  background-image: url(../images/smartphone.svg);
} */

/* Footer */

.footer {
  background-color: #2f303a;
  color: var(--title-text-color);
  /* outline: 3px solid black; */
}

.ftr-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* outline: 2px solid yellow; */
  width: 1200px;
  padding-top: 56px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contacts-box {
  color: var(--title-text-color);
  margin-bottom: 28px;
}

.logo-footer {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.19;
}

.web-logo {
  color: var(--accent-color);
}

.location {
  color: var(--title-text-color);
  font-family: roboto, cursive;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 9px;
}

.contacts-mail {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto, cursive;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
}

.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.contacts-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto, cursive;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.contacts-tel:hover,
.contacts-tel:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social-box {
  justify-content: space-evenly;
  /* outline: 1px solid brown; */
}

.social-title {
  font-weight: 700;
  font-style: 14px;
  line-height: 1.14;
  margin: 0;
  text-transform: uppercase;
}

.link-social {
  display: inline-flex;
  padding-top: 21px;
}

.link-item {
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
}

.icon-instagram {
  background-image: url(../images/instagram1.svg);
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-twitter {
  background-image: url(../images/twitter1.svg);
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
}

.icon-facebook {
  background-image: url(../images/facebook1.svg);
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
}

.icon-linkedin {
  background-image: url(../images/linkedin1.svg);
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 10px;
}

.usually-hidden {
  display: none;
}

.social-list .link-item:hover,
.social-list .link-item:focus {
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form {
  padding-right: 216px;
}

.mailing-title {
  font-weight: 700;
  font-style: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.mail-ctr {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.mail-form {
  width: 358px;
  height: 50px;
  padding: 18px 12px;
  margin-top: 21px;
  color: var(--title-text-color);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.sign-up {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 900;
  padding: 10px;
  padding-left: 29px;
  text-align: center;
  border-radius: 4px;
  margin-left: 12px;
}

.sign-up::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  padding-right: 28px;
  background-image: url(../images/airplane.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.border-bottom {
  width: 1200px;
  height: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-family: roboto, cursive;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0px;
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}
