$primaryColor: #212121;
$secondaryColor: #757575;
$titleColor: #ffffff;
$accentColor: #2196f3;
$primaryBgdColor: #e5e5e5;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

.usually-hidden {
  display: none;
}
